<style>
	.top-bar-section ul li a {
		width:100%;
	}
</style>
<script type="text/javascript">
$(function(){
	$('#product_product_category_id').on('change', function() {
	  	$.ajax({
		    url: "/update_subcat",
		    type: "GET",
		    data: {"product_category_id" : $(this).val()},
		    dataType: "html",
		    success: function(data) {
		      $("#update_content").html(data);
		    }
		});
	});
});
</script>
<% if @product.errors.any? %>
<div class="row">
	<div class="large-10 large-centered columns form-errors">
  		<div id="error_explanation">
    		<h3><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h3>
    		<ul>
    		<% @product.errors.full_messages.each do |msg| %>
      			<li><%= msg %></li>
    		<% end %>
    		</ul>
  		</div>
	</div>
</div>
<% end %>


<div class="row" style="min-height:500px">
	<div class="large-10 large-centered columns">
			<h3>New Product</h3>
	</div>
	<div class="large-10 large-centered columns">
		<%= form_for @product, :url=>{:controller =>"admins", :action =>"create"}, :html => { :class => 'form-horizontal', multipart: true } do |f| %>
			<div>
				<h6>Name</h6>
				<%= f.text_field :name, :maxlength =>255 %>
			</div>
			<div>
				<h6>Product Id</h6>
				<%= f.text_field :product_var_id, :maxlength =>10 %>
			</div>
			<div>
				<h6>Price</h6>
				<div style="display:block"><%= f.text_field :price, :maxlength=>10 %> INR</div><br>
			</div>
			<div>
				<h6>Product Category</h6>
				<div style="display:block">
					<% options = options_from_collection_for_select(ProductCategory.order('name ASC'), 'id', 'name') %>
					<%= f.select :product_category_id,  options, {:include_blank => 'Select Category'} %>
				</div>
				<br>
			</div>
			<div id="update_content">
				<div>
					<h6>Product Subcategory</h6>
					<% options = options_from_collection_for_select(ProductSubcategory.order('name ASC'), 'id', 'name') %>
					<%= f.select :product_subcategory_id, options, {:include_blank => 'Select Subcategory'} %>
					<br>
				</div>
				<div id="update_subsubcategory">
					<h6>Product Subcategory Level 1</h6>
					<% options = options_from_collection_for_select(ProductSubsubcategory.order('name ASC'), 'id', 'name') %>
					<%= f.select :product_subsubcategory_id, options, {:include_blank => 'Select Subcategory Level 1'} %>
					<br>
				</div>
			</div>
			<div>
				<h6>Description</h6>
				<%= f.cktext_area :description, :class => 'ckeditor', :maxlength => 4000 %>
			</div>
			<div>
				<h6>Status</h6>
				<%= f.radio_button :status, 'active', :checked => true %> 
			  	<%= label :status_active, 'Active' %>
			  	<%= f.radio_button :status, 'hidden' %>
			  	<%= label :status_hidden, 'Hidden' %>
			</div>
			<div>
				<h6>Add Main Display Image</h6>
				<%= f.file_field :img_file %>
			</div>
			<div>
				<h6>Add alternate product images(optional)</h6>
      			<%= file_field_tag "images[]", type: :file, multiple: true %>
    		</div>
			<div><%= f.submit "Submit" %> </div>
		<% end %>
	</div>
</div>