<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have an enquiry from <%= @email["name"] %> :</h1>
    <p>The following are the details:</p>
  <p>Name : <%= @email["name"] %></p>
  <p>Email: <%= @email["mail"] %></p>
  <p>Phone Number: <%= @email["phone"] %></p>
  <p>Message : <%= @email["message"] %></p>
  </body>
</html>