<div class="row">
	<div class="large-12 small-12 columns">
		<h3 class="title_bold" style="margin-top:3%">Get in Touch!</h3>
		<p>Due to our large selection of merchandise we are unable to display all of the items in stock. If after looking through our web site you can't find what you are looking for email us at: info@actionumisphil.com  and we will get back to you with a picture, sizes and any other information that you require, we will get back to you in a weeks time.</p>
	</div>
</div>

<div class="row">
 
    <!-- Contact Details -->
    <div class="large-6 small-12 columns">
   		<%= form_tag :action => "send_email" do %>
			<div>
				<h6>Name</h6>
				<%= text_field_tag :name, params[:name], :placeholder => "Full Name", :maxlength =>255, :required => true %>
			</div>
			<div>
				<h6>Email</h6>
				<%= text_field_tag :email, params[:email], :placeholder => "username@address.com", :required => true %>
			</div>
			<div>
				<h6>Phone No</h6>
				<%= text_field_tag :phone, params[:phone], :placeholder => "Enter 10 digit mobile number", :required => true %>
			</div>
			<div>
				<h6>Subject</h6>
				<%= text_field_tag :subject, params[:subject], :placeholder => "Subject", :required => true %>
			</div>
			<div>
				<h6>Your Message</h6>
				<%= text_area_tag :message, params[:message], :placeholder => "Enter your message here" ,:style => "height:250px", :required => true %>
			</div>
			<div><%= submit_tag "Send Message", :class=>"small radius button", :style => "background-color:#027CD5; passing-top:14px" %> </div>
		<% end %>
    </div>

    <div class="large-6 columns">
	    <div class="large-12 small-12 columns">
		    
	      	<iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d240.55859782916133!2d73.9602335!3d15.2712003!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xb9f4455748c763f2!2sAction+Videotronics+%2F+Antiques!5e0!3m2!1sen!2sin!4v1441697203755"></iframe><br/>
	    </div>
	    <div class="large-12 small-12 columns">
	    	<h3>Contact Info</h3>
		    <ul class="contact">
		        <li><p title="Address"><i class="fi-marker"></i>C/O Laxmi Musicians, Shop No.212, Gate No 3 & 4, MMC New Market, Margao, Goa, 403601</p></li>
		        <li><p title="Telephone"><i class="fi-telephone"></i>+91-9822101373, 0832-2713377</p></li>
		        <li><p title="Whatsapp"><i class="fi-comment"></i>+91-9822169373</p></li>
		        <li><p title="Email"><i class="fi-mail"></i>info@actionumisphil.com</p></li>
		     </ul>
	    </div>
    </div>


 
    <!-- End Contact Details -->
