<link rel="stylesheet" type="text/css" href="/jqzoom/css/jquery.jqzoom.css">
<script type='text/javascript' src='/jqzoom/js/jquery.jqzoom-core.js'></script>  


<script>
	$(function(){
		$(".thumb").click(function(){
			var source = this.src;
			$("#main-image").attr("src",source);
			$(".MYCLASS").attr("href",source);
		});
       $('.MYCLASS').jqzoom();
	});
</script>

<div class="row">
	<div class="large-10 large-centered columns panel">
		<div class="row">
			<div class="large-5 columns">
				<div class="row">
					<div class="large-12 columns" style="width:320px; height:320px; display:table-cell; vertical-align:middle; text-align:center">
						<a href="<%= @product.img_file.url(:original) %>" class="MYCLASS" title="MYTITLE">  
							<img id="main-image" style="max-width:100%;max-height:100%" src="<%= @product.img_file.url(:original) %>">
						</a>
					</div>
				</div>
				<div class="row" style="margin-top:20px">
					<div class="large-12 columns">
						<div style="display:block">
						<img class="thumb" style="width:50px; height:50px" src="<%= @product.img_file.url %>">
						<% @product.product_images.each do | img | %>
					     	<img class="thumb" style="width:50px; height:50px" src="<%= img.image.url %>">
					    <% end %>
					    </div>
					</div>
				</div>
			</div>
			<div class="large-7 columns">
				<h4 style="font-color: #888; text-decoration: underline"><%= @product.name %></h4>
				<br>
				<span style="display:block;"><h4 style="float:left"><i>Product Id : </i></h4><h5 style="margin-left:75px; padding-top:6px"><b>INR <%= @product.product_var_id %></b></h5></span>
				<br>
				<span style="display:block;"><h4 style="float:left"><i>Price : </i></h4><h5 style="margin-left:75px; padding-top:6px"><b>INR <%= @product.price %></b></h5></span>
				<br>
				<h4 style="margin-top:100px">Product Description :</h4>
				<p><i><%= raw(@product.description) %></i></p>
			</div>
		</div>
</div>
