<!-- products-->
<link rel="stylesheet" type="text/css" href="/css/product_category.css">
<style>
	#slider { margin-bottom: 30px; }
	div.navBulletsWrapper  { padding-top:80px; }
</style>

<script type="text/javascript">
	$(function(){
		$(".category_img").on("mouseover", function(){
			$(this).css({"border":"1px solid","border-color":"#ff8400"});
			$(this).parent().children(".panel-cat").css({"color":"#fff","background-color":"#ff8400"});
		});
		$(".category_img").on("mouseleave", function(){
			$(this).css({"border":"none"});
			$(this).parent().children(".panel-cat").css({"color":"#333333","background-color":"#f2f2f2", "border-color":"#d8d8d8"});
		});

		$(".panel-cat").on("mouseover",function(){
			$(this).parent().children(".category_img").css({"border":"1px solid","border-color":"#ff8400"});
			$(this).css({"color":"#fff","background-color":"#ff8400"});
		});
		
		$(".panel-cat").on("mouseleave",function(){
			$(this).parent().children(".category_img").css({"border":"none"});
			$(this).css({"color":"#333333","background-color":"#f2f2f2", "border-color":"#d8d8d8"});
		});

	});
</script>
<div class="row" style="margin-top:3%">
	<div class="large-12 columns">
		<h4><b>Search Results :<b></h4>
	</div>
	<div class="large-12 small-12 columns">
		<div class="row">
			<% @search_results.each do |result| %>
			<a href="/products/<%= result.id %>" title="Product Category : <%= ProductCategory.find(result.product_category_id).name %>, Product Subcategory : <% if !result.product_subcategory_id.empty? %><%= ProductSubcategory.find(result.product_subcategory_id).name %><% end %>, Product Subcategory Level 1 : <% if !result.product_subsubcategory_id.empty? %><%= ProductSubsubcategory.find(result.product_subsubcategory_id).name %><% end %>">
				<div class="large-3 small-6 columns">
					<div class="category_img">
						<img src="<%= result.img_file.url %>">
					</div>
					<h6 class="panel panel-cat"><%= result.name %></h6>
				</div>
			</a>
			<% end %>
		</div>
		<div><%= will_paginate @search_results, :class="pagination" %></div>
	</div>
</div>
<style type="text/css">
	.pagination { padding: 3px; margin: 3px; } 
	.pagination a { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #aaaadd; text-decoration: none; color: #000099; } 
	.pagination a:hover, 
	.pagination a:active { border: 1px solid #000099; color: #000; } 
	.pagination span.current { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #000099; font-weight: bold; background-color: #000099; color: #FFF; } 
	.pagination span.disabled { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #eee; color: #ddd; }
</style>