
<div class="row" style="margin-top:3%">
	<div class="large-10 large-centered columns panel">
		<div class="row">
			<div class="large-5 columns">
				<div class="row">
					<div class="large-12 columns" style="width:320px; height:320px; display:table-cell; vertical-align:middle; text-align:center">
						<a href="<%= @product.img_file.url %>">  

							<img id="main-image" style="max-width:100%;max-height:100%" src="<%= @product.img_file.url %>">

						</a>
					</div>
				</div>
				<div class="row" style="margin-top:20px">
					<div class="large-12 columns">
						<div style="display:block">
						<img class="thumb" style="width:50px; height:50px" src="<%= @product.img_file.url %>">
						<% @product.product_images.each do | img | %>
					     	<img class="thumb" style="width:50px; height:50px" src="<%= img.image.url %>">
					    <% end %>
					    </div>
					</div>
				</div>
			</div>
			<div class="large-6 columns">
				<p id="product_nametag"><b>Product Name :</b> <%= @product.name %></p>
				<br>
				<p id="product_id_tag" style="margin-bottom:0"><b>Product Id : </b><%= @product.product_var_id %></p>
				<br>
				<p id="price_tag" style="margin-bottom:0"><b>Price : </b>INR <%= @product.price %></p>
				<br>
				<p id="pro_description_tag" style="margin-bottom:0"><b>Product Description :</b></p>
				<p><%= raw(@product.description) %></p>
			</div>
		</div>
</div>
